<head>
    <style>
        .gfg {
            margin: 3%;
            position: relative;
        }

        }
    </style>
</head>


{{> welcome-menu}}


 <section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="">
      <body>
    <div class="gfg">
        <img src="/images/walkingimagemedium.png".png">
    </div>
</body>
    </div>
  </div>
</section>




  

